/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "font-awesome";


@mixin transitions {
		-webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -kthtml-transition: all 0.4s linear;
    transition: all 0.4s linear;

}

@mixin shadows {
		-webkit-box-shadow: 0px 0px 2px 2px rgb(223, 117, 20);
    -moz-box-shadow: 0px 0px 2px 2px rgb(223, 117, 20);
    box-shadow: 0px 0px 2px 2px rgb(223, 117, 20);
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/* Navigation */

header {
	width: 100%;
	padding: 2rem 0;
	border-bottom: 1px solid #E4E4E4;
		#logo {
			float: left;
			color: #333233;
			text-decoration: none;
			font-size: 1.75em;
			margin-left: 2rem;
		}
		nav {
			float: right;
			margin-right: 2rem;
			a {
				text-decoration: none;
				color: #9B9B9B;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: #50A7C7;
				}
			}
		}
}

/* Global Body */

body {
	font-family: "Lato", sans-serif;
	font-weight: 100;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}


/* Home Page */

#intro {
	margin: 2.75rem 0 1.75rem 0;
	text-align: center;
	font-size: 1.75rem;
	line-height: 1;
	span {
		font-size: 1.25rem;
		color: #9B9B9B;
		.main-button {
			text-decoration: none;
			background: rgb(223, 117, 20);
			padding: .2rem .4rem;
			color: white;
			border-radius: .3rem;
			font-weight: bold;
			margin-top: .4rem;
		}		

	}
}


#posts {
	.post {
		background: #F8F9FA;
		width: 30%;
		margin: 1rem 1%;
		border-radius: .4rem;
		display: inline-block;
		@include transitions;
		.post_image {
			overflow: hidden;
			height: 200px;
			img {
				width: 100%;
				border-radius: .4rem .4rem 0 0;
			}
		}
		.post_content {
			h2 {
				margin: 0;
				font-weight: 100%;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.25rem;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #50A7C7;
					}
				}
			}
		.data {
			padding: .75rem 5%;
			color: #969696;
			.username, .buttons {
				margin: 0;
				font-size: .8rem;
			}
		}

		}
		.username {
			float: left;
		}
		.buttons {
			float: right;
			span {
				margin-left: .5rem;
			}
		}
		&:hover {
			@include shadows
		}
	}
}

/** Media **/

@media screen and (min-width: 1200px) {
	#posts {
	.post {
		.post_image {
			overflow: hidden;
			height: 320px;
		}
	}
}

}

/* Show Page */

#post_show {
	padding-top: 2rem;
	.post_image_desc {
		width: 50%;
		margin-right: 5%;
		float: left;
	}
	.post_data {
		width: 15%;
		float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #969969;
			&:hover {
				color: #50A7C7;
				border: 1px solid #50A7C7;
			}
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}

	h1 {
		margin: 0;
		color: #333233;
	}
	img {
		width: 100%;
		border-radius: .3rem;
	}
	.username {
		color: #969696;
		margin: 0 0 1.5rem 0;
	}
	.description {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #969696;
	}

}

#comments {
		padding-bottom: 4rem;
		width: 50%;
		.comment_count {
			border-bottom: 1px solid #E9E9E9;
			padding-bottom: .5rem;
			margin-bottom: 0;
		}
		.comment {
			padding: 2rem 0;
			border-bottom: 1px solid #E9E9E9;
			padding-left: 5%;
		.username {
			font-size: 1.3rem;
			color: #333233;
			margin: 0 0 .5rem 0;
		}
		.content {
			margin: 0;
			color: #969696;
		}
	}
	.comment_content {
		margin-top: 2.5rem;
		textarea {
			width: 100%;
			margin: 1rem 0;
			min-height: 150px;
			border: 1px solid #E4E4E4;
			background: #F8F9FA;
			border-radius: 0.3rem;
		}
	}
}